<!--The content below is only a placeholder and can be replaced.-->
<div style="display: flex; flex-direction: row">
  <!-- <div style="display: flex; flex-direction: column">
    <p *ngFor="let card of mixedCards.player1">{{card.rank}} : {{card.suite}}</p>
  </div>
  <div style="display: flex; flex-direction: column">
    <p *ngFor="let card of mixedCards.player2">{{card.rank}} : {{card.suite}}</p>
  </div>
  <div style="display: flex; flex-direction: column">
    <p *ngFor="let card of mixedCards.player3">{{card.rank}} : {{card.suite}}</p>
  </div>
  <div style="display: flex; flex-direction: column">
    <p *ngFor="let card of mixedCards.buyIn">{{card.rank}} : {{card.suite}}</p>
  </div> -->
</div>